# uv
.venv/
uv.lock

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Data (Optional: ignore data if it gets large)
# data/

# Reference materials
reference/
result-pictures/
data/
docs/

# OS
.DS_Store
.vscode/
